


{% extends "core/_layout.twig" %}

{% block title %} Main Page {% endblock %}


{% block main_content_title %} This is game {{ game }}  {% endblock %}

{% block content %}


    <table class="table">
        <tbody>

         <tr>
             {% for key, row in board[0] %}
                <th> <a class="btn btn-default game-btn" href="#" data-column="{{ key  }}">X</a></th>
             {% endfor %}
         </tr>


        {% for key_row, row in board %}

            <tr>
                {% for key_cell, cell in row %}
                    <td id="disc-hole-{{ key_row }}-{{ key_cell }}"> {{ cell }} </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}




